In [1]:
# class 생성 하기  class 클래스명 :  ~~~
class Student:
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    def get_sum(self):
        return self.kor + self.eng + self.math
    def get_avg(self):
        return self.get_sum()/3
    def to_print(self):
        return "{}:{}\t {}\n".format(self.name, self.get_sum(),self.get_avg())

In [4]:
students = []
while True:
    name = input("학생 이름 입력 >")
    if name == 'q':
        break
    score = list(map(int, input("국어 , 영어, 수학 점수 입력 > ").split()))
    kor = score[0]
    eng = score[1]
    math = score[2]
    student = Student(name, kor, eng, math)
    students.append(student)

학생 이름 입력 >a
국어 , 영어, 수학 점수 입력 > 909 88 88
학생 이름 입력 >b
국어 , 영어, 수학 점수 입력 > 88 77 99
학생 이름 입력 >c
국어 , 영어, 수학 점수 입력 > 88 77 77
학생 이름 입력 >q

In [5]:
for idx, student in enumerate(students):
    print(students[idx].name)
    print(student.to_print())

a:1085	 361.6666666666667

b:264	 88.0

c:242	 80.66666666666667

In [33]:
class Test:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
        print("Test class 생성자 ")
        
    def class_print(self):
        return self.a + self. b + self. c
        
    def class_return(self, a):
        return a
    
    def __del__(self):
        print("Test class 소멸자 ")

In [36]:
a = Test(10,20,30)
a.class_print()

del a

Test class 생성자
Test class 소멸자

In [ ]:
class Store:
    def __init__(self, 이름, 전화번호, 주소):
        self.이름 = 이름
        self.전화번호 = 전화번호
    def order(self)

In [37]:
print("isinstance(student) :", isinstance(student, Student))

isinstance(student) : True

In [38]:
class Student:
    def study(self):
        print("공부를 합니다")
class Teacher:
    def teacher(self):
        print("가르칩니다")

In [39]:
classroom = [Student(), Teacher(), Student(), Student(), Teacher()]

for person in classroom:
    if isinstance(person, Student):
        person.study()
    else:
        person.teacher()

공부를 합니다
가르칩니다
공부를 합니다
공부를 합니다
가르칩니다

In [42]:
class Student:
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    def get_sum(self):
        return self.kor + self.eng + self.math
    def get_avg(self):
        return self.get_sum() / 3
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_avg())
    def __eq__(self, value):
        return self.get_sum() == value.get_sum()
    def __ne__(self, value):
        return self.get_sum() != value.get_sum()
    def __gt__(self, value):
        return self.get_sum() > value.get_sum()

In [48]:
students = [
    Student("윤인성", 87, 98, 88),
    Student("연하진", 92, 98, 96),
    Student("구지연", 76, 96, 94),
    Student("나선주", 98, 92, 96),
    Student("윤아린", 95, 98, 98),
    Student("윤명월", 64, 88, 92)
]
student_a = Student("윤인성", 87, 98, 88)
student_b = Student("연하진", 92, 98, 96)
print("student_a == student_b => ", student_a == student_b)
print("student_a != student_b => ", student_a != student_b)

for student in students:
    print(str(student))
    if student == student_a or student == student_b :
        print(student.name, student.get_sum())

student_a == student_b =>  False
student_a != student_b =>  True
윤인성	273	91.0
윤인성 273
연하진	286	95.33333333333333
연하진 286
구지연	266	88.66666666666667
나선주	286	95.33333333333333
나선주 286
윤아린	291	97.0
윤명월	244	81.33333333333333

In [66]:
# 클래스 변수
class Student:
    count = 0
    students = []
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math   
        
        Student.count += 1
        Student.students.append(self)
        
    @classmethod
    def print(cls):
        print("--------학생 목록------------")
        print("이름\t총점\t평균")
        for student in cls.students:
            print(str(student))
        print("----------------------------")

    def get_sum(self):
        return self.kor + self.eng + self.math
    def get_avg(self):
        return self.get_sum()/3
    def __str__(self):
        return "{}\t{}\t{:0.3f}".format(self.name, self.get_sum(), self.get_avg())

In [67]:
Student("윤인성", 87, 98, 88)
Student("연하진", 92, 98, 96)
Student("구지연", 76, 96, 94)
Student("나선주", 98, 92, 96)
Student("윤아린", 95, 98, 98)
Student("윤명월", 64, 88, 92)

Student.print()   # 클래스의 매서드 또는 함수
print("전체 인원 수 : ", Student.count) # Student 클래 전체의 global 변수

--------학생 목록------------
이름	총점	평균
윤인성	273	91.000
연하진	286	95.333
구지연	266	88.667
나선주	286	95.333
윤아린	291	97.000
윤명월	244	81.333
----------------------------
전체 인원 수 :  6