In [4]:
def factorial(n):
    output = 1
    for i in range(1,n+1):
        output *= i
    return output

factorial(6) # factorial 실행

720

In [6]:
def factorial1(n):
    # n이 0이면 1을 return 아니면 n * f(n-1)
    if(n==0):
        return 1
    else:
        return n*factorial1(n-1)
    
factorial1(5)

120

In [12]:
# 피보나치 수열 -> f(n) = f(n-1) + f(n-2)

def fibo(n):
    global count
    count += 1
    
    if n==1 or n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [19]:
count = 0
print("fibo: ", fibo(25))
print("count: ",count)

fibo:  75025
count:  150049

In [23]:
dictionary = {1:1,2:1}
def fibo_m(n):
    global count
    count += 1
    
    if n in dictionary: # 메모화 되어 있으면 메모된 값을 사용
        return dictionary[n]
    else:
        output = fibo_m(n-1) + fibo_m(n-2)
        dictionary[n] = output
        return output
count = 0
fibo(15)
print("count: ", count)
count = 0
fibo_m(100)
print("count: ",count)
print(dictionary)

count:  1219
count:  197
{1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55, 11: 89, 12: 144, 13: 233, 14: 377, 15: 610, 16: 987, 17: 1597, 18: 2584, 19: 4181, 20: 6765, 21: 10946, 22: 17711, 23: 28657, 24: 46368, 25: 75025, 26: 121393, 27: 196418, 28: 317811, 29: 514229, 30: 832040, 31: 1346269, 32: 2178309, 33: 3524578, 34: 5702887, 35: 9227465, 36: 14930352, 37: 24157817, 38: 39088169, 39: 63245986, 40: 102334155, 41: 165580141, 42: 267914296, 43: 433494437, 44: 701408733, 45: 1134903170, 46: 1836311903, 47: 2971215073, 48: 4807526976, 49: 7778742049, 50: 12586269025, 51: 20365011074, 52: 32951280099, 53: 53316291173, 54: 86267571272, 55: 139583862445, 56: 225851433717, 57: 365435296162, 58: 591286729879, 59: 956722026041, 60: 1548008755920, 61: 2504730781961, 62: 4052739537881, 63: 6557470319842, 64: 10610209857723, 65: 17167680177565, 66: 27777890035288, 67: 44945570212853, 68: 72723460248141, 69: 117669030460994, 70: 190392490709135, 71: 308061521170129, 72: 498454011879264, 73: 806515533049393, 74: 1304969544928657, 75: 2111485077978050, 76: 3416454622906707, 77: 5527939700884757, 78: 8944394323791464, 79: 14472334024676221, 80: 23416728348467685, 81: 37889062373143906, 82: 61305790721611591, 83: 99194853094755497, 84: 160500643816367088, 85: 259695496911122585, 86: 420196140727489673, 87: 679891637638612258, 88: 1100087778366101931, 89: 1779979416004714189, 90: 2880067194370816120, 91: 4660046610375530309, 92: 7540113804746346429, 93: 12200160415121876738, 94: 19740274219868223167, 95: 31940434634990099905, 96: 51680708854858323072, 97: 83621143489848422977, 98: 135301852344706746049, 99: 218922995834555169026, 100: 354224848179261915075}

In [25]:
tuple_test = (10,20,30,40)
for value in tuple_test:
    print(value)
print(tuple_test[0])
a,b,c = 10,20,30
print("a:{}, b:{}, c:{}".format(a,b,c))

a,b = 10, 20

print("before => a:{}, b{}".format(a,b))
a,b = b,a # a와 b의 값이 바뀜
print("after => a:{}, b{}".format(a,b))

10
20
30
40
10
a:10, b:20, c:30
before => a:10, b20
after => a:20, b10

In [28]:
for (idx, value) in enumerate([1,2,3,4,5]):
    print("{}번째 값: {}".format(idx,value))

a, b = divmod(88,3)
print(a,b)

0번째 값: 1
1번째 값: 2
2번째 값: 3
3번째 값: 4
4번째 값: 5
29 1

In [31]:
# map과 filter 함수 => map(함수, 리스트), filter(함수, 리스트)

def power(x):
    return x*x

def under_3(x):
    if n < 3:
        return x

# lambda 함수로 변경 -> lambda 매개변수 : 리턴값
power = lambda x: x*x
under_3 = lambda x: x<3
    
a_list = [1,2,3,4,5]
b_list = map(power,a_list)
print(b_list)
c_list = list(filter(under_3,a_list))
print("\n",c_list)

<map object at 0x000002A25FDE7310>

 [1, 2]

In [34]:
b_list = list(map(lambda x: x*x, a_list))
print(b_list)

c_list = list(filter(lambda x: x<3, a_list))
print(c_list)

[1, 4, 9, 16, 25]
[1, 2]

In [37]:
file = open("a.txt","w")
file.write("Hello Python file write !!")
file.close()

In [39]:
file = open("a.txt","r")
file_data = file.read()
print(file_data)
file.close()

Hello Python file write !!

In [48]:
with open("a.txt","w") as file:
    file.write("with python file open\n")
    file.write("with python file open\n")
    file.write("with python file open\n")

with open("a.txt","r") as file:
    for line in file:
        print(line)
#file_data = file.read()

with python file open

with python file open

with python file open

In [49]:
with open("score.txt","w") as file:
    name, score = input("이름 성적 입력 > ").split()
    file.write(name + ',' + score)
    
with open("score.txt","r") as file:
    for line in file:
        name,score = line.split(',')
        print(name,': ',score)

이름 성적 입력 > 홍길동 90
홍길동 :  90

In [59]:
file = open("score.txt","a+")
name, score = input("이름 성적 입력 > ").split()
file.write(name + ',' + score + '\n') # 파일의 마지막 위치를 가리킴

file.seek(0,0)
for line in file:
    name, score = line.split(',')
    print(name, ': ', score)
file.close()

이름 성적 입력 > 조용희 90
김남우 :  80

홍길동 :  20

신계호 :  50

조용희 :  90

In [73]:
###### 이름, 국어, 영어, 수학 성적을 입력받아 파일에 저장 file_write()
# 검색할 이름을 입력받아 파일에서 데이터 검색 file_search()
# 검색한 이름과 성적 출력 
# 전체 학생의 인원수와 총점 평균을 구함 file_total()
# 다 함수로 작성
def file_write(filename):
    file = open(filename,"w+")
#     file.close()
    
#     file = open(filename,"a+")
    while(True):
        name, kor, eng, math = input("이름 국어 영어 수학 입력 > ").split()
        if(name=='q'):
            break
        file.write(name + ',' + kor + ',' + eng + ',' + math + '\n')
        
    file.close()

def file_search(filename):
    search_name = input("검색할 이름 > ")
    file = open(filename,"r")
    for line in file:
        name, kor, eng, math = line.split(',')
        if(name==search_name):
            print(name,':',kor,eng,math)

def file_total(filename):
    count = 0
    tot_kor = 0 ; kor_avg = 0
    tot_eng = 0 ; eng_avg = 0
    tot_math = 0 ; math_avg = 0
    
    file = open(filename,"r")
    for line in file:
        name, kor, eng, math = line.split(',')
        count = count + 1
        tot_kor += int(kor)
        tot_eng += int(eng)
        tot_math += int(math)
    #tot = tot_kor + tot_eng + tot_math
    kor_avg = tot_kor/count
    eng_avg = tot_eng/count
    math_avg = tot_math/count
    #tot_avg = tot/count
    return count, kor_avg, eng_avg, math_avg
    
file_write("score.txt")
file_search("score.txt")
count, kor_avg, eng_avg, math_avg = file_total("score.txt")
print("총원: {}, 국어 평균: {}, 영어 평균: {}, 수학 평균: {}".format(count, kor_avg, eng_avg, math_avg))

이름 국어 영어 수학 입력 > 김남우 10 20 30
이름 국어 영어 수학 입력 > 조용희 20 30 40
이름 국어 영어 수학 입력 > 신계호 40 50 60
이름 국어 영어 수학 입력 > q 1 1 1
검색할 이름 > 조용희
조용희 : 20 30 40

총원: 3, 국어 평균: 23.333333333333332, 영어 평균: 33.333333333333336, 수학 평균: 43.333333333333336

In [83]:
# 제너레이터 함수 실행: next(함수명),, 함수 내부에 return 대신 yield 사용

def test():
    print("함수 호출 !!")
    yield "test"
    
    print("함수 호출 2 !!")
    yield "test 2"
    
#함수 호출
print("first call function")
test() # 제너레이터 함수는 일반적인 호출로 실행이 안됨

print("second call function")
test()

file_name = test()
a = next(file_name)
print(a)
print("next ---")
b = next(file_name)
print(b)

first call function
second call function
함수 호출 !!
test
next ---
함수 호출 2 !!
test 2

In [86]:
numbers = list(range(1,10+1))

print("홀수만 출력")
print(list(filter(lambda x:x%2==1,numbers)))

print("3이상 7미만 자료만 출력")
print(list(filter(lambda x:3<=x<7,numbers)))

print("제곱해서 50미만 자료만 출력")
print(list(filter(lambda x:x**2<50,numbers)))

홀수만 출력
[1, 3, 5, 7, 9]
3이상 7미만 자료만 출력
[3, 4, 5, 6]
제곱해서 50미만 자료만 출력
[1, 2, 3, 4, 5, 6, 7]

In [89]:
# try ~ except 예외상황 발생 시 처리
try:
    input_number = int(input("정수 입력 >"))
    
    print("원의 반지름: ", input_number)
    print("원의 둘레: ",input_number)
    print("원의 넓이: ", input_number * input_number * 3.14)
except:
    #print("입력 오류 !!")
    pass

정수 입력 >a

In [95]:
list_data = ['52','345','test','123','44']

list_number = []
for item in list_data:
    try:
        float(item) # 숫자는 float으로 변환
        list_number.append(item)
    except Exception as e:
    # except:
        #print("숫자 아님")
        print(e)
        #pass
    
print(list_number)

could not convert string to float: 'test'
['52', '345', '123', '44']

In [96]:
list_data = ['52','345','test','123','44']

list_number = []
for item in list_data:
    try: # 에러 발생 코드
        float(item) # 숫자는 float으로 변환
    except: # 에러 발생 시
        #print("숫자 아님")
        pass
    else: # 에러 발생 안할 시
        list_number.append(item)
    finally: # 무조건 실행
        print("무조건 실행 !!")
print(list_number)

무조건 실행 !!
무조건 실행 !!
무조건 실행 !!
무조건 실행 !!
무조건 실행 !!
['52', '345', '123', '44']

In [99]:
def test():
    print("test 함수 시작")
    try:
        print("test try start")
        return
        print(" try 구문 return 다음 문장")
    except:
        print("except 구문")
    finally:
        print("finally 구문")
    print("test 함수 end")
    
test()

test 함수 시작
test try start
finally 구문

In [102]:
# raise 객체: 강제로 에러 발생 시킴

number = input("정수 입력 > ")

if number > 0:
    # 양수일 때 아직 미구현 상태
    raise NotImplementedError
else:
    raise NotImplementedError

정수 입력 > 10

TypeError: '>' not supported between instances of 'str' and 'int'

In [122]:
## 이름 전화번호를 파일에 저장하는 프로그램 작성
# 파일 이름은 "dataset/telno.txt", 기존에 파일이 존재하면 데이터 추가
# 전화번호 입력은 숫자 3개를 입력 받아 123-456-789 형식으로 저장
# 이름과 전화번호는 ' '로 분리해서 저장
# 저장이 끝나면 파일을 닫고 다시 파일을 open -> 'r' 모드로
# 파일의 내용을 화면에 출력 ex) 홍길동 123-456-7897
# try ~ except ~ finally를 사용해서 작성

def input_telno(filename):
    file = open(filename,'w+')
    while True:
        name = input("이름 입력 > ")
        if(name == 'q'):
            print("전화번호 추가 정지 !!")
            break
        telno = input("전화번호 입력 > ").split()
        if(len(telno)!=3):
            print("전화번호 입력 오류 !!")
            break
            
        telno = '-'.join(telno)
        
        file.write(name + ' ' + telno + '\n')
    file.close()
    
def read_telno(filename):
    file = open(filename,'r')
    for line in file:
        print(line)
        
input_telno("dataset/telno.txt")
read_telno("dataset/telno.txt")

이름 입력 > 김남우
전화번호 입력 > 123 123 123
123-123-123
이름 입력 > 조용희
전화번호 입력 > 234 234 234
234-234-234
이름 입력 > 신계호
전화번호 입력 > 345 345 345
345-345-345
이름 입력 > q
전화번호 추가 정지 !!
김남우 123-123-123

조용희 234-234-234

신계호 345-345-345